

<div class="cs-assignment-tab">

    {{#display.danger}}
    <div class="cs-minisakai-danger">
        <span class="q">{{titles.due24h}}</span>
    </div>
    <div class="cs-minisakai-list cs-minisakai-list-danger">
        {{#elements.danger}}
            <div id="b{{courseID}}" class="cs-assignment-danger" style="border-style: solid; border-width: 2px; border-color: {{successBorderColor}}">
                <a class="cs-course-danger cs-course-name" href="{{coursePage}}">{{courseName}}</a>
                {{#assignmentEntries}}
                  {{^subset}}
                    <input id="{{assignmentID}}" class="cs-checkbox" type="checkbox" {{#isFinished}}checked{{/isFinished}}>
                    <label for="{{assignmentID}}"></label>
                    <p class="cs-assignment-date">{{dueDateString}}</p>
                  {{/subset}}
                  {{#subset}}
                    <p class="cs-assignment-date cs-assignmate-date-padding">{{dueDateString}}</p>
                  {{/subset}}
                    <span class="cs-assignment-time-remain">{{remainTimeString}}</span>
                    <p class="cs-assignment-title">
                        {{#isMemo}}
                            <span class="cs-badge cs-badge-memo">{{badge.memo}}</span>
                            <span class="cs-del-memo-btn" id="{{assignmentID}}">×</span>
                        {{/isMemo}}
                        {{#isQuiz}}
                            <span class="cs-badge cs-badge-quiz">{{badge.quiz}}</span>
                        {{/isQuiz}}
                        {{assignmentTitle}}
                    </p>
                {{/assignmentEntries}}
            </div>
        {{/elements.danger}}
    </div>
    {{/display.danger}}

    {{#display.warning}}
    <div class="cs-minisakai-warning">
        <span class="q">{{titles.due5d}}</span>
    </div>
    <div class="cs-minisakai-list cs-minisakai-list-warning">
        {{#elements.warning}}
            <div id="b{{courseID}}" class="cs-assignment-warning" style="border-style: solid; border-width: 2px; border-color: {{successBorderColor}}">
                <a class="cs-course-warning cs-course-name" href="{{coursePage}}">{{courseName}}</a>
                {{#assignmentEntries}}
                  {{^subset}}
                    <input id="{{assignmentID}}" class="cs-checkbox" type="checkbox" {{#isFinished}}checked{{/isFinished}}>
                    <label for="{{assignmentID}}"></label>
                    <p class="cs-assignment-date">{{dueDateString}}</p>
                  {{/subset}}
                  {{#subset}}
                    <p class="cs-assignment-date cs-assignmate-date-padding">{{dueDateString}}</p>
                  {{/subset}}
                    <span class="cs-assignment-time-remain">{{remainTimeString}}</span>
                    <p class="cs-assignment-title">
                        {{#isMemo}}
                            <span class="cs-badge cs-badge-memo">{{badge.memo}}</span>
                            <span class="cs-del-memo-btn" id="{{assignmentID}}">×</span>
                        {{/isMemo}}
                        {{#isQuiz}}
                            <span class="cs-badge cs-badge-quiz">{{badge.quiz}}</span>
                        {{/isQuiz}}
                        {{assignmentTitle}}
                    </p>
                {{/assignmentEntries}}
            </div>
        {{/elements.warning}}
    </div>
    {{/display.warning}}

    {{#display.success}}
    <div class="cs-minisakai-success">
        <span class="q">{{titles.due14d}}</span>
    </div>
    <div class="cs-minisakai-list cs-minisakai-list-success">
        {{#elements.success}}
            <div id="b{{courseID}}" class="cs-assignment-success" style="border-style: solid; border-width: 2px; border-color: {{successBorderColor}}">
            <a class="cs-course-success cs-course-name" href="{{coursePage}}">{{courseName}}</a>
                {{#assignmentEntries}}
                  {{^subset}}
                    <input id="{{assignmentID}}" class="cs-checkbox" type="checkbox" {{#isFinished}}checked{{/isFinished}}>
                    <label for="{{assignmentID}}"></label>
                    <p class="cs-assignment-date">{{dueDateString}}</p>
                  {{/subset}}
                  {{#subset}}
                    <p class="cs-assignment-date cs-assignmate-date-padding">{{dueDateString}}</p>
                  {{/subset}}
                <span class="cs-assignment-time-remain">{{remainTimeString}}</span>
                <p class="cs-assignment-title">
                    {{#isMemo}}
                        <span class="cs-badge cs-badge-memo">{{badge.memo}}</span>
                        <span class="cs-del-memo-btn" id="{{assignmentID}}">×</span>
                    {{/isMemo}}
                    {{#isQuiz}}
                        <span class="cs-badge cs-badge-quiz">{{badge.quiz}}</span>
                    {{/isQuiz}}
                    {{assignmentTitle}}
                </p>
                {{/assignmentEntries}}
            </div>
        {{/elements.success}}
    </div>
    {{/display.success}}

    {{#display.other}}
    <div class="cs-minisakai-other">
        <span class="q">{{titles.dueOver14d}}</span>
    </div>
    <div class="cs-minisakai-list cs-minisakai-list-other">
        {{#elements.other}}
            <div id="b{{courseID}}" class="cs-assignment-other" style="border-style: solid; border-width: 2px; border-color: {{successBorderColor}}">
                <a class="cs-course-other cs-course-name" href="{{coursePage}}">{{courseName}}</a>
                {{#assignmentEntries}}
                  {{^subset}}
                    <input id="{{assignmentID}}" class="cs-checkbox" type="checkbox" {{#isFinished}}checked{{/isFinished}}>
                    <label for="{{assignmentID}}"></label>
                    <p class="cs-assignment-date">{{dueDateString}}</p>
                  {{/subset}}
                  {{#subset}}
                    <p class="cs-assignment-date cs-assignmate-date-padding">{{dueDateString}}</p>
                  {{/subset}}
                    <span class="cs-assignment-time-remain">{{remainTimeString}}</span>
                    <p class="cs-assignment-title">
                        {{#isMemo}}
                            <span class="cs-badge cs-badge-memo">{{badge.memo}}</span>
                            <span class="cs-del-memo-btn" id="{{assignmentID}}">×</span>
                        {{/isMemo}}
                        {{#isQuiz}}
                            <span class="cs-badge cs-badge-quiz">{{badge.quiz}}</span>
                        {{/isQuiz}}
                        {{assignmentTitle}}
                    </p>
                {{/assignmentEntries}}
            </div>
        {{/elements.other}}
    </div>
    {{/display.other}}

    {{#display.lateSubmit}}
        <div class="cs-minisakai-late">
            <span class="q">{{titles.duePassed}}</span>
        </div>
        <div class="cs-minisakai-list cs-minisakai-list-late">
            {{#elements.lateSubmit}}
                <div id="b{{courseID}}" class="cs-assignment-late" style="border-style: solid; border-width: 2px; border-color: {{successBorderColor}}">
                    <a class="cs-course-late cs-course-name" href="{{coursePage}}">{{courseName}}</a>
                    {{#assignmentEntries}}
                      {{^subset}}
                        <input id="{{assignmentID}}" class="cs-checkbox" type="checkbox" {{#isFinished}}checked{{/isFinished}}>
                        <label for="{{assignmentID}}"></label>
                        <p class="cs-assignment-date">{{dueCloseDateString}}</p>
                      {{/subset}}
                      {{#subset}}
                        <p class="cs-assignment-date cs-assignmate-date-padding">{{dueCloseDateString}}</p>
                      {{/subset}}
                        <span class="cs-assignment-time-remain">{{remainCloseTimeString}}</span>
                        <p class="cs-assignment-title">
                            {{#isMemo}}
                                <span class="cs-badge cs-badge-memo">{{badge.memo}}</span>
                                <span class="cs-del-memo-btn" id="{{assignmentID}}">×</span>
                            {{/isMemo}}
                            {{#isQuiz}}
                                <span class="cs-badge cs-badge-quiz">{{badge.quiz}}</span>
                            {{/isQuiz}}
                            {{assignmentTitle}}
                        </p>
                    {{/assignmentEntries}}
                </div>
            {{/elements.lateSubmit}}
        </div>
    {{/display.lateSubmit}}

    {{#noAssignment}}
    <div>
        <p class="cs-noassignment-p">{{titles.noAssignment}}</p>
        <img alt="logo" class="cs-noassignment-img" src="{{img}}">
    </div>
    {{/noAssignment}}
</div>

{{^subset}}
<div class="cs-settings-tab" style="">
</div>
{{/subset}}