<img class="logo" alt="logo" src="{{minipandaLogo}}">
<p class="cp-version">Version {{VERSION}}</p>
{{^subset}}
<a id="close_btn" class="closebtn q" href="#">x</a>
<input id="kadaiTab" type="radio" name="cp_tab">
<label for="kadaiTab"> {{titles.kadaiTab}} </label>
<input id="settingsTab" type="radio" name="cp_tab">
<label for="settingsTab"> {{titles.settingsTab}} </label>
<button id="plus-button">+</button>
{{/subset}}
<div class="kadai-time">
    <p class="kadai-time-text">{{titles.kadaiFetchedTime}}</p>
    <p class="kadai-time-text">{{kadaiFetchedTime}}</p>
</div>
<div class="quiz-time">
    <p class="kadai-time-text">{{titles.quizFetchedTime}}</p>
    <p class="kadai-time-text">{{quizFetchedTime}}</p>
</div>

<div class="kadai-tab">
    {{^subset}}
    <div class="settingsBox addMemoBox" style="display: none;">
        <div class="miniSakai-memoBoxItem">
            <p>{{todoBox.courseName}}</p>
            <label><select class="todoLecName">
                {{#addMemoBoxLectures}}
                    <option id="{{courseID}}">{{courseName}}</option>
                {{/addMemoBoxLectures}}
            </select></label>
        </div>
        <div class="miniSakai-memoBoxItem">
            <p>{{todoBox.memoLabel}}</p>
            <label><input type="text" class="todoContent"></label>
        </div>
        <div class="miniSakai-memoBoxItem">
            <p>{{todoBox.dueDate}}</p>
            <label><input type="datetime-local" class="todoDue"></label>
        </div>
        <div class="miniSakai-memoBoxItem">
            <button type="submit" id="todo-add">{{todoBox.addBtnLabel}}</button>
        </div>
    </div>
    {{/subset}}

    {{#showDanger}}
    <div class="sidenav-danger">
        <span class="q">{{titles.due24h}}</span>
    </div>
    <div class="sidenav-list sidenav-list-danger">
        {{#dangerElements}}
            <div id="b{{courseID}}" class="kadai-danger" style="border-style: solid; border-width: 2px; border-color: {{successBorderColor}}">
                <a class="lecture-danger lecture-name" href="{{coursePage}}">{{courseName}}</a>
                {{#assignmentEntries}}
                    <input id="{{assignmentID}}" class="todo-check" type="checkbox" {{#isFinished}}checked{{/isFinished}}>
                    <label for="{{assignmentID}}"></label>
                    <p class="kadai-date">{{dueDateString}}</p>
                    <span class="time-remain">{{remainTimeString}}</span>
                    <p class="kadai-title">
                        {{#isMemo}}
                            <span class="add-badge add-badge-success">{{badge.memo}}</span>
                            <span class="del-button" id="{{assignmentID}}">×</span>
                        {{/isMemo}}
                        {{#isQuiz}}
                            <span class="add-badge add-badge-quiz">{{badge.quiz}}</span>
                        {{/isQuiz}}
                        {{assignmentTitle}}
                    </p>
                {{/assignmentEntries}}
            </div>
        {{/dangerElements}}
    </div>
    {{/showDanger}}

    {{#showWarning}}
    <div class="sidenav-warning">
        <span class="q">{{titles.due5d}}</span>
    </div>
    <div class="sidenav-list sidenav-list-warning">
        {{#warningElements}}
            <div id="b{{courseID}}" class="kadai-warning" style="border-style: solid; border-width: 2px; border-color: {{successBorderColor}}">
                <a class="lecture-warning lecture-name" href="{{coursePage}}">{{courseName}}</a>
                {{#assignmentEntries}}
                    <input id="{{assignmentID}}" class="todo-check" type="checkbox" {{#isFinished}}checked{{/isFinished}}>
                    <label for="{{assignmentID}}"></label>
                    <p class="kadai-date">{{dueDateString}}</p>
                    <span class="time-remain">{{remainTimeString}}</span>
                    <p class="kadai-title">
                        {{#isMemo}}
                            <span class="add-badge add-badge-success">{{badge.memo}}</span>
                            <span class="del-button" id="{{assignmentID}}">×</span>
                        {{/isMemo}}
                        {{#isQuiz}}
                            <span class="add-badge add-badge-quiz">{{badge.quiz}}</span>
                        {{/isQuiz}}
                        {{assignmentTitle}}
                    </p>
                {{/assignmentEntries}}
            </div>
        {{/warningElements}}
    </div>
    {{/showWarning}}

    {{#showSuccess}}
    <div class="sidenav-success">
        <span class="q">{{titles.due14d}}</span>
    </div>
    <div class="sidenav-list sidenav-list-success">
        {{#successElements}}
            <div id="b{{courseID}}" class="kadai-success" style="border-style: solid; border-width: 2px; border-color: {{successBorderColor}}">
            <a class="lecture-success lecture-name" href="{{coursePage}}">{{courseName}}</a>
                {{#assignmentEntries}}
                <input id="{{assignmentID}}" class="todo-check" type="checkbox" {{#isFinished}}checked{{/isFinished}}>
                <label for="{{assignmentID}}"></label>
                <p class="kadai-date">{{dueDateString}}</p>
                <span class="time-remain">{{remainTimeString}}</span>
                <p class="kadai-title">
                    {{#isMemo}}
                        <span class="add-badge add-badge-success">{{badge.memo}}</span>
                        <span class="del-button" id="{{assignmentID}}">×</span>
                    {{/isMemo}}
                    {{#isQuiz}}
                        <span class="add-badge add-badge-quiz">{{badge.quiz}}</span>
                    {{/isQuiz}}
                    {{assignmentTitle}}
                </p>
                {{/assignmentEntries}}
            </div>
        {{/successElements}}
    </div>
    {{/showSuccess}}

    {{#showOther}}
    <div class="sidenav-other">
        <span class="q">{{titles.dueOver14d}}</span>
    </div>
    <div class="sidenav-list sidenav-list-other">
        {{#otherElements}}
            <div id="b{{courseID}}" class="kadai-other" style="border-style: solid; border-width: 2px; border-color: {{successBorderColor}}">
                <a class="lecture-other lecture-name" href="{{coursePage}}">{{courseName}}</a>
                {{#assignmentEntries}}
                    <input id="{{assignmentID}}" class="todo-check" type="checkbox" {{#isFinished}}checked{{/isFinished}}>
                    <label for="{{assignmentID}}"></label>
                    <p class="kadai-date">{{dueDateString}}</p>
                    <span class="time-remain">{{remainTimeString}}</span>
                    <p class="kadai-title">
                        {{#isMemo}}
                            <span class="add-badge add-badge-success">{{badge.memo}}</span>
                            <span class="del-button" id="{{assignmentID}}">×</span>
                        {{/isMemo}}
                        {{#isQuiz}}
                            <span class="add-badge add-badge-quiz">{{badge.quiz}}</span>
                        {{/isQuiz}}
                        {{assignmentTitle}}
                    </p>
                {{/assignmentEntries}}
            </div>
        {{/otherElements}}
    </div>
    {{/showOther}}

    {{#showRelaxPandA}}
    <div class="relaxpanda">
        <p class="relaxpanda-p">{{titles.relaxPandA}}</p>
        <img alt="logo" class="relaxpanda-img" src="{{img}}">
    </div>
    {{/showRelaxPandA}}
</div>

{{^subset}}
<div class="settings-tab" style="">
</div>
{{/subset}}