.cs-tab-danger {
    background: #f78989 !important;
    border: 0 solid #f78989 !important;
}

.cs-tab-warning {
    background: #fdd783 !important;
    border: 0 solid #fdd783 !important;
}

.cs-tab-success {
    background: #8bd48d !important;
    border: 0 solid #8bd48d !important;
}

.cs-tab-other {
    background: #adadad !important;
    border: 0 solid #adadad !important;
}

.cs-notification-badge::after {
    z-index: 1;
    content: "";
    position: absolute;
    background: #f81000;
    height: 8px;
    width: 8px;
    top: 1px;
    left: 3px;
    text-align: center;
    border-radius: 50%;
    padding: 1px;
    border: 1px solid #fffefe;
}

.cs-show {
    width: 300px !important;
}

.cs-hide {
    width: 0px !important;
}

.cs-minisakai {
    height: 95vh;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #cacaca;
    transition: 0.5s;
    padding-top: 60px;
    overflow: auto;
    border-radius: 8px;
}

.cs-minisakai::-webkit-scrollbar {
    display: none;
}

.cs-minisakai .q {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-weight: 600;
    color: #252121;
    display: block;
    transition: 0.3s;
}

.cs-minisakai .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}

.cs-minisakai-danger {
    position: relative;
    padding: 0.1em 0.5em;
    border-left: solid 6px #e85555;
    border-bottom: solid 2px #e85555;
    background: #f1cdcd;
    border-radius: 5px;
}

.cs-minisakai-warning {
    position: relative;
    padding: 0.1em 0.5em;
    border-left: solid 6px #d7aa57;
    border-bottom: solid 2px #d7aa57;
    background: #e2d4bf;
    border-radius: 5px;
}

.cs-minisakai-success {
    position: relative;
    padding: 0.1em 0.5em;
    border-left: solid 6px #62b665;
    border-bottom: solid 2px #62b665;
    background: #cce6cf;
    border-radius: 5px;
}

.cs-minisakai-other {
    position: relative;
    padding: 0.1em 0.5em;
    border-left: solid 6px #777777;
    border-bottom: solid 2px #777777;
    background: #dad6d6;
    border-radius: 5px;
}

.cs-minisakai-late {
    position: relative;
    padding: 0.1em 0.5em;
    border-left: solid 6px #212121;
    border-bottom: solid 2px #212121;
    background: #dad6d6;
    border-radius: 5px;
}

.cs-minisakai-list {
    padding: 20px 8px 8px 8px;
    text-decoration: none;
    color: #818181;
    display: block;
}

.cs-minisakai-list .cs-course-name {
    display: block;
    text-decoration: none;
}

.cs-minisakai-list .cs-course-name:hover {
    text-decoration: none;
}

.cs-minisakai-list .cs-course-danger {
    font-size: 12px;
    font-weight: 400 !important;
    color: #f7f7f7;
    width: max-content;
    padding: 3px 10px;
    margin: -12px 0 0 -5px;
    background: #e85555;
    border-radius: 20px 20px 20px 20px;
}

.cs-minisakai-list .cs-course-danger:hover {
    font-size: 12px;
    font-weight: 400 !important;
    color: #f7f7f7;
    width: max-content;
    padding: 3px 10px;
    margin: -12px 0 0 -5px;
    background: #e85555;
    border-radius: 20px 20px 20px 20px;
}

.cs-minisakai-list .cs-course-warning {
    font-size: 12px;
    font-weight: 400 !important;
    color: #f7f7f7;
    width: max-content;
    padding: 3px 10px;
    margin: -12px 0 0 -5px;
    background: #d7aa57;
    border-radius: 20px 20px 20px 20px;
}

.cs-minisakai-list .cs-course-warning:hover {
    font-size: 12px;
    font-weight: 400 !important;
    color: #f7f7f7;
    width: max-content;
    padding: 3px 10px;
    margin: -12px 0 0 -5px;
    background: #d7aa57;
    border-radius: 20px 20px 20px 20px;
}

.cs-minisakai-list .cs-course-success {
    font-size: 12px;
    font-weight: 400 !important;
    color: #f7f7f7;
    width: max-content;
    padding: 3px 10px;
    margin: -12px 0 0 -5px;
    background: #62b665;
    border-radius: 20px 20px 20px 20px;
}

.cs-minisakai-list .cs-course-success:hover {
    font-size: 12px;
    font-weight: 400 !important;
    color: #f7f7f7;
    width: max-content;
    padding: 3px 10px;
    margin: -12px 0 0 -5px;
    background: #62b665;
    border-radius: 20px 20px 20px 20px;
}

.cs-minisakai-list .cs-course-other {
    font-size: 12px;
    font-weight: 400 !important;
    color: #f7f7f7;
    width: max-content;
    padding: 3px 10px;
    margin: -12px 0 0 -5px;
    background: #777777;
    border-radius: 20px 20px 20px 20px;
}

.cs-minisakai-list .cs-course-other:hover {
    font-size: 12px;
    font-weight: 400 !important;
    color: #f7f7f7;
    width: max-content;
    padding: 3px 10px;
    margin: -12px 0 0 -5px;
    background: #777777;
    border-radius: 20px 20px 20px 20px;
}

.cs-minisakai-list .cs-course-late {
    font-size: 12px;
    font-weight: 400 !important;
    color: #f7f7f7;
    width: max-content;
    padding: 3px 10px;
    margin: -12px 0 0 -5px;
    background: #212121;
    border-radius: 20px 20px 20px 20px;
}

.cs-minisakai-list .cs-course-late:hover {
    font-size: 12px;
    font-weight: 400 !important;
    color: #f7f7f7;
    width: max-content;
    padding: 3px 10px;
    margin: -12px 0 0 -5px;
    background: #212121;
    border-radius: 20px 20px 20px 20px;
}

.cs-minisakai-list p {
    list-style-type: initial;
    font-size: 14px;
    margin: 5px;
}

.cs-minisakai-list .cs-assignment-date {
    display: inline-block;
}

.cs-assignment-danger {
    border-top: solid 2px #e85555;
    border-left: solid 2px #e85555;
    border-bottom: solid 2px #e85555;
    border-right: solid 2px #e85555;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

.cs-assignment-warning {
    border-top: solid 2px #d7aa57;
    border-left: solid 2px #d7aa57;
    border-bottom: solid 2px #d7aa57;
    border-right: solid 2px #d7aa57;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

.cs-assignment-success {
    border-top: solid 2px #62b665;
    border-left: solid 2px #62b665;
    border-bottom: solid 2px #62b665;
    border-right: solid 2px #62b665;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

.cs-assignment-other {
    border-top: solid 2px #777777;
    border-left: solid 2px #777777;
    border-bottom: solid 2px #777777;
    border-right: solid 2px #777777;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

.cs-assignment-late {
    border-top: solid 2px #212121;
    border-left: solid 2px #212121;
    border-bottom: solid 2px #212121;
    border-right: solid 2px #212121;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

.cs-assignment-date {
    font-size: 12px !important;
    font-weight: bold;
    color: #b01011
}

.cs-assignmate-date-padding {
    padding-left: 15px;
}

.cs-assignment-title {
    font-size: 12px !important;
    color: #524e4e;
    padding-left: 20px;
    word-break: break-word;
}

button.cs-minisakai-btn-div {
    /* buttonのデフォルトスタイルを打ち消す */
    background-color: transparent !important;
    padding: 0 !important;
    border: none !important;
    font-size: 25px;
    cursor: pointer;
    padding-left: 15px !important;
}

.cs-minisakai-btn {
    width: 23px;
    padding-bottom: 5px;
}

.cs-minisakai-logo {
    position: absolute;
    top: 7px;
    left: 2px;
    height: 40px;
}

.cs-assignment-time-remain {
    font-weight: bold;
    font-size: 12px;
}

#cs-cover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
}

.cs-checkbox {
    position: absolute;
    opacity: 0;
}

.cs-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.cs-checkbox + label:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 2px;
}

.cs-checkbox:checked + label:before {
    background: #0064cd;
    border-radius: 10px;
}

.cs-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

.cs-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}

.cs-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 2.5px;
    top: 7px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 5px;
}

.cs-tab *, .cs-tab *:before, .cs-tab *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cs-tab > input[type='radio'] {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.cs-tab .cs-tab-panel {
    display: none;
}

.cs-tab > input:first-child:checked ~ .cs-tab-panels > .cs-tab-panel:first-child,
.cs-tab > input:nth-child(3):checked ~ .cs-tab-panels > .cs-tab-panel:nth-child(2),
.cs-tab > input:nth-child(5):checked ~ .cs-tab-panels > .cs-tab-panel:nth-child(3),
.cs-tab > input:nth-child(7):checked ~ .cs-tab-panels > .cs-tab-panel:nth-child(4),
.cs-tab > input:nth-child(9):checked ~ .cs-tab-panels > .cs-tab-panel:nth-child(5),
.cs-tab > input:nth-child(11):checked ~ .cs-tab-panels > .cs-tab-panel:nth-child(6) {
    display: block;
}

.cs-tab > label {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 0;
    border-radius: 6px 6px 0 0;
    border-color: #9b9898
}

.cs-tab > input:checked + label {
    margin-bottom: -1px;
    border-color: #a5a5a5;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #b0b0b0;
    border-radius: 6px 6px 0 0;
    background-color: #6483d3;
    color: #fffdfd;
}

@media (max-width: 480px) {
    .cs-tab {
        width: 100%;
        font-size: 0.8em;
    }

    .cs-tab label {
        padding: 0.5em;
    }
}

.cs-memo-box {
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 10px;
    border: inset;
}

.cs-badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    margin-right: 0.5em;
    font-size: 75%;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cs-badge-memo {
    color: #fff;
    background-color: #28a745;
}

.cs-badge-quiz {
    color: #fff;
    background-color: #ef2410;
}

.cs-del-memo-btn {
    color: #c61212;
    position: relative;
    float: right;
    right: 10px;
    display: inline-block;
    margin-left: 0.5em;
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
    border-radius: 1rem;
    cursor: pointer;
}

#cs-add-memo-btn {
    margin-left: 15px;
    margin-bottom: 2px;
    border: none;
    display: inline-block;
    padding: 6px 8px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #fff !important;
    background-color: #009688 !important;
    text-align: center;
    cursor: pointer;
    font-size: 24px !important;
    border-radius: 50%;
}

.cs-assignment-time {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 10px;
    border: inset;
    font-weight: bold;
    color: #464646;
}

.cs-assignment-time-text {
    margin-bottom: 0;
}

.cs-quiz-time {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 10px;
    border: inset;
    font-weight: bold;
    color: #464646;
}

.cs-noassignment-img {
    width: 150px;
    margin-top: 50px;
    margin-left: 70px;
}

.cs-noassignment-p {
    color: gray;
    font-family: serif;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.cs-loading, .cs-loading:after {
    border-radius: 50% !important;
    width: 25px !important;
    height: 25px !important;
}

.cs-loading {
    /* buttonのデフォルトスタイルを打ち消す */
    background-color: transparent !important;
    padding: 0 !important;
    border: none !important;
    font-size: 11px;
    margin-left: 15px !important;
    text-indent: -9999em;
    border-top: 5px solid rgba(255, 255, 255, 0.2) !important;
    border-right: 5px solid rgba(255, 255, 255, 0.2) !important;
    border-bottom: 5px solid rgba(255, 255, 255, 0.2) !important;
    border-left: 5px solid #ffffff !important;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: cs-load 1.1s infinite linear;
    animation: cs-load 1.1s infinite linear;
}

@-webkit-keyframes cs-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes cs-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#sub-sakai {
    padding: 3px;
}

.cs-settings-tab {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-weight: bold;
    color: rgb(70, 70, 70);
    margin: 10px;
    border-width: initial;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.cs-version{
    padding-left: 5px;
    font-weight: bold;
}

.cp-settings {
    padding-left: 20px;
    padding-top: 10px;
}

.cp-settings-text {
    display: list-item;
    flex-direction: column;
}

.cp-settings-inputbox {
    width: 65px;
}

.cs-memo-item {
    padding-top: 5px;
    display: block;
    flex-direction: column;
    font-weight: bold;
    color: rgb(70, 70, 70);
}

.cs-toggle-btn {
    position: relative;
    display: inline-flex;
    width: 60px;
    height: 20px;
}

.cs-toggle-btn input {
    opacity: 0;
    width: 0;
    height: 0;
}

.cs-toggle-slider {
    cursor: pointer;
    text-indent: -9999px;
    margin-left: -15px;
    width: 40px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.cs-toggle-slider:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + .cs-toggle-slider {
    background-color: #2196F3;
}

input:checked + .cs-toggle-slider:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

